.main{
    background-color: var(--main-bg-decoration);
}

.main__container{
    padding-top: 93px;
    padding-bottom: 94px;
}

.main__nav{
    display: flex;
    justify-content: center;
    text-align: center;

    margin-bottom: 50px;
}

.main__nav-item{
    margin-right: 8px;
}

.project__list{
    display: flex;
    flex-wrap: wrap;
    
}

.project__item{
    width: calc((100% - 60px) / 3);
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project__item:not(:nth-child(3n)){
    margin-right: 30px;
}

.project__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.project__tech-text{
    display: none;
}

.project__name{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-decoration);
}

.project__descriptoin{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.project__card{
border-right: 1px solid #eeeeee;
border-bottom: 1px solid #eeeeee;
border-left: 1px solid #eeeeee;
background-color: #ffffff;;

border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;

/* ПАДДИНГ 24ПИКСЕЛЯ НЕ ПОМЕЩАЕТСЯ */
padding: 20px 21px;
}

.project-button :hover,
.project-button :focus{
    color:var(--accent-color);
    
}



